<div class="container-fluid">
    <div class="row">
      <div class="col-sm" style="background-color: aqua;">
        <br>
        <h3 style="text-align: center;">Please read out these animals Name</h3>
        <h3 style="text-align: center;">Try to remember<span style="color: yellowgreen;">(you have 10s)</span></h3>
        <br>
        <div style="color: red; font-size: 30px; text-align: center;"id="countdown"></div>
        
      </div>
      
      <div class="col-sm" style="background-color: aqua;">
        <br><br>
        <table  style=" width: 100%;">
          <tr style="background-color: azure;">
            <th>Animals list</th>
          </tr>
          <tr>
            <td style="background-color: azure;  height: 50px;">Cat</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Elephant</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Goat</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Lion</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Rabbit</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Tiger</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Mouse</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Cow</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Horse</td>
          </tr>
          <tr>
            <td style="background-color: azure; height: 50px;">Wolf</td>
          </tr>
          
        </table>
        
      </div>
  
    </div>
  
  </div>